body {
    background-color: black;
}

.title {
    font-size: 50px;      /* Size */
    color: white;      /* Colour */
    font-family: 'Montserrat', sans-serif;      /* Font Family - what text looks like */     
    /* Title padding */
    padding-left: 40px; 
    padding-top: 15px;     
    /* ------------- */
}

.sub {
    color: grey;
    font-size: 30px;
}